$main-bg-color: #4f0c1f;
$main-text-color: #f0f8e5;
$light-yellow: #ebcf50;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0 2rem;
}

a {
    color: inherit;
}

p {
    margin-bottom: 0.5rem;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'kozuka-gothic-pr6n', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: $main-bg-color;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 3rem 0;

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 1rem;

        a {
            display: block;
            text-decoration: none;
            position: relative;
            padding: 0 0.5rem;
            transition: 0.2s;

            &::before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                left: 100%;
                background-color: $main-text-color;
                mix-blend-mode: darken;
                transition: 0.2s;
            }

            &:hover {
                color: $main-bg-color;

                &::before {
                    left: -0.05rem;
                    width: 100%;
                }
            }
        }
    }
}

#items {
    position: fixed;
    z-index: 2;
    bottom: -50px;
    left: 10%;
    display: flex;
    width: 100%;

    img:first-child {
        width: 200px;
    }
}

header {
    opacity: 0;
    margin: 80px 0 0;
}

main {
    opacity: 0;
    position: relative;
    width: min(800px, 90%);
    padding: 0 80px 120px;

    &::before {
        position: fixed;
        content: '';
        width: 100%;
        height: 10rem;
        left: 0;
        bottom: 0;
        background: linear-gradient(to top, $main-bg-color, transparent);
    }
}

.wf-active header {
    animation: opacity0-1 0.7s ease-in-out 0.4s 1 normal both;
}

.wf-active main {
    animation: opacity0-1 0.7s ease-in-out 0.6s 1 normal both;
}

@keyframes opacity0-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    margin-bottom: 5rem;
}

h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        display: block;
        font-size: 1rem;
        margin-bottom: 1rem;
        opacity: 0.7;
    }
    img {
        width: 75%;
    }
}

h2 {
    text-align: center;
    font-weight: 200;
    letter-spacing: 1rem;
    font-style: normal;
    margin-bottom: 1rem;
}

.vertical-frame {
    position: fixed;
    z-index: 2;
    content: '';
    width: 30px;
    height: 100vh;
    background: linear-gradient(
        to right,
        #771000,
        #771000 16%,
        #250100 20%,
        #250100 30%,
        #c76943 34%,
        #771000 38%,
        #771000 60%,
        #250100 66%,
        #250100 76%,
        #c76943 80%,
        #771000 84%
    );
    box-shadow: 0 0 20px $light-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &.left {
        left: unquote($string: 'calc((100vw - min(800px, 90%)) / 2)');
    }
    &.right {
        right: unquote($string: 'calc((100vw - min(800px, 90%)) / 2)');
    }
}

#light {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $main-text-color;
    border-radius: 50%;
    box-shadow: 0 0 80px $main-text-color, 0 0 80px $main-text-color,
        0 0 80px $light-yellow, inset 0 0 10px $light-yellow;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        top: -10px;
        left: -10px;
        background-color: #ebcf50;
        filter: blur(20px);
        opacity: 0.6;
        mix-blend-mode: screen;
    }

    &::before {
        transform: rotate(45deg) scaleY(30%) rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg) scaleY(30%) rotate(-45deg);
    }
}

@for $i from 1 through 4 {
    #light:nth-child(#{$i}) {
        animation: opacity0-1 0.2s ease-in-out #{0.1 * $i}s 1 normal both;
    }

    #light:nth-child(#{$i})::before,
    #light:nth-child(#{$i})::after {
        animation: light-blink 2s ease-in-out #{$i}s infinite alternate both;

        @keyframes light-blink {
            from {
                opacity: 0.4;
            }
            to {
                opacity: 0.8;
            }
        }
    }
}
