$main-bg-color: #4f0c1f;
$main-text-color: #f0f8e5;
$light-yellow: #ebcf50;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0 2rem;
    margin-bottom: 0.5rem;
}

a {
    color: inherit;
}

p {
    margin-bottom: 0.5rem;
}

img {
    width: 100%;
}

.mb-1rem {
    margin-bottom: 1rem;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'kozuka-gothic-pr6n', sans-serif;
    font-size: 14px;
    font-weight: 200;
    background-color: $main-bg-color;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    opacity: 0;
    margin: 80px 0 0;
}

main {
    opacity: 0;
    position: relative;
    width: min(800px, 90%);
    padding: 0 80px 120px;
}

h1,
h2 {
    font-weight: 400;
}

h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        display: block;
        font-size: 1rem;
        margin-bottom: 1rem;
        opacity: 0.7;
    }
    img {
        width: 75%;
    }
}

h2 {
    margin-bottom: 1rem;
}

.vertical-frame {
    position: fixed;
    z-index: 2;
    content: '';
    width: 30px;
    height: 100vh;
    background: linear-gradient(
        to right,
        #771000,
        #771000 16%,
        #250100 20%,
        #250100 30%,
        #c76943 34%,
        #771000 38%,
        #771000 60%,
        #250100 66%,
        #250100 76%,
        #c76943 80%,
        #771000 84%
    );
    box-shadow: 0 0 20px $light-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &.left {
        left: unquote($string: 'calc((100vw - min(800px, 90%)) / 2)');
    }
    &.right {
        right: unquote($string: 'calc((100vw - min(800px, 90%)) / 2)');
    }
}

#light {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $main-text-color;
    border-radius: 50%;
    box-shadow: 0 0 80px $main-text-color, 0 0 80px $main-text-color,
        0 0 80px $light-yellow, inset 0 0 10px $light-yellow;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        top: -10px;
        left: -10px;
        background-color: #ebcf50;
        filter: blur(20px);
        opacity: 0.6;
        mix-blend-mode: screen;
    }

    &::before {
        transform: rotate(45deg) scaleY(30%) rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg) scaleY(30%) rotate(-45deg);
    }
}

@for $i from 1 through 4 {
    #light:nth-child(#{$i})::before,
    #light:nth-child(#{$i})::after {
        animation: light-blink 2s ease-in-out #{$i}s infinite alternate both;

        @keyframes light-blink {
            from {
                opacity: 0.4;
            }
            to {
                opacity: 0.8;
            }
        }
    }
}
